# IntelliJ
**/out/
**/.idea/
**/target/
*.iml

# Compiled class file
*.class

# Log file
*.log

# Package Files
*.jar

# Util classes for creating .pie files
/assessment/src/main/java/com/github/introfog/pie/assessment/Display.java
/assessment/src/main/java/com/github/introfog/pie/assessment/Main.java
